@import "_variables";
@import "_mixins";

.add-page {
    &_container {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    &_preview {
        width: 300px;
        margin-right: 30px;
        &_image {
            border: 3px solid $purple;
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
    }
    &_form {
        flex-grow: 1;
        &_checkbox {
            display: flex;
            flex-flow: nowrap row;
            align-items: center;
            justify-content: flex-start;
            padding-left: 30px;
            position: relative;
            label {
                margin: 0;
                font-size: 16px;
            }
            .input-label {
                width: 20px;
                height: 20px;
                display: block;
                border: 2px solid #000;
                border-radius: $radius;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            input:checked + .input-label::before {
                content: "";
                width: 70%;
                height: 70%;
                background: $purple;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform;
                border-radius: 2px;
            }
        }
    }
}