@import "_variables";
@import "_mixins";

.add-review-form {
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    .rating-title {
        width: 100px;
        display: block;
        margin-right: 20px;
        font-weight: bold;
        font-size: 16px;
    }
}