.one-place-page {
    &_top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 30px;
        &_left-side {
            flex-grow: 1;
            &_title {
                font-size: 34px;
                font-weight: bold;
            }
            &_description {
                font-size: 14px;
                line-height: 18px;
            }
        }
        &_right-side {
            width: 500px;
            border: 2px solid #000;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}