@import "_variables";
@import "_mixins";

.one-place-page {
    &_top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #000;
        &_left-side {
            flex-grow: 1;
            &_title {
                font-size: 34px;
                font-weight: bold;
            }
            &_description {
                font-size: 14px;
                line-height: 18px;
            }
        }
        &_right-side {
            width: 500px;
            border: 2px solid #000;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    &_message {
        color: $red;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding: 20px;
    }
}